<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'info', media: 'all', 'data-turbolinks-track': 'reload'  %>
<% end %>
		<div id="wrapper">
			<div id="sidebar-wrapper" class="col-sm-2">
        <ul id="sidebar" class="nav nav-stacked affix">
	        <li><a href="/moving_to"><i class="fa fa-fw fa-home"></i> Home</a></li>
	        <li><%= link_to accomodations_path, :remote => true do %><i class="fa fa-building" aria-hidden="true"></i> Accomodations<% end %></li>
	        <li><%= link_to banking_path, :remote => true do %><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Banking<% end %></li>
          <li><%= link_to healthcare_path, :remote => true do %><i class="fa fa-medkit" aria-hidden="true"></i>
 Healthcare<% end %></li>
          <li><%= link_to pets_path, :remote => true do %><i class="fa fa-paw" aria-hidden="true"></i> Pets<% end %></li>
          <li><%= link_to residency_path, :remote => true do %><i class="fa fa-bed" aria-hidden="true"></i> Residency<% end %></li>
          <li><%= link_to safe_environments_path, :remote => true do %><i class="fa fa-thumbs-up" aria-hidden="true"></i> Safe Environments<% end %></li>
          <li><%= link_to schools_path, :remote => true do %><i class="fa fa-thumbs-up" aria-hidden="true"></i> International Schools<% end %></li>
          <li><%= link_to transportation_path, :remote => true do %><i class="fa fa-subway" aria-hidden="true"></i>
 Transportation<% end %></li>
	      </ul>
			</div>
			<div id="main-wrapper"  class="col-md-10 pull-right">
				<div id="main">
          <div class="slide-1"></div>
          <div class="hero">
            <hgroup>
                <h1>Welcome to</h1>
                <h3>Bangalore</h3>
            </hgroup>
          </div>

				</div>
			</div>

		</div>
